@import "@/styles/tailwind.css";

.shared-countdown *,
.shared-countdown .ant-statistic,
.shared-countdown .ant-statistic-content {
  color: inherit;
  font-size: inherit;
  display: inline;
  line-height: inherit;
}
