@import "@/styles/tailwind.css";

.switcher {
  @apply h-10 p-1 pr-0.5 border border-gray-200 dark:border-gray-800 flex rounded-lg items-center justify-center transition-colors duration-300 ease-in-out cursor-pointer;
}

.switcherItem {
  @apply rounded-lg cursor-pointer transition-colors duration-300 ease-in-out text-gray-400 dark:text-gray-600 min-w-8 px-1.5 h-full flex items-center justify-center mr-0.5;
  @apply hover:bg-gray-200 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white;
}

.switcherItemActive {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-600 dark:text-gray-400;
}
