@import "@/styles/tailwind.css";

.informer {
  @apply min-w-0;
  line-height: 1.3;
}

.title {
  @apply flex items-center text-gray-500 text-sm font-bold;
}

.title svg,
.copy svg {
  @apply ms-1;
  width: 1.1em;
  height: 1.1em;
}

.body {
  @apply flex min-w-0 text-black;
  @apply dark:text-white;
}

.value {
  @apply min-w-0 whitespace-normal break-all;
}

.copy {
  @apply shrink-0 text-gray-500 cursor-pointer;
}
