@import "@/styles/tailwind.css";

.informer {
  line-height: 1.3;
}

.sameSize .postfix {
  font-size: 100%;
}

.title {
  @apply flex items-center text-gray-500 text-sm font-bold;
}

.title svg,
.body svg {
  @apply ms-1;
  width: 1.1em;
  height: 1.1em;
}

.body {
  font-size: 94%;
  line-height: 1.35;
  @apply text-gray-500 font-mono;
  @apply dark:text-gray-400;
}

.postfix {
  @apply text-gray-500;
  font-size: 75%;
}
